.announcement{
    display: flex;
    margin-left: 1.2rem;
}
.card1{
    background-color: chocolate;
    margin-right: 0.8rem;
    height: 7.5rem;
}

.card2{
    background-color: rgb(36, 112, 59);
    margin-right: 0.8rem;
    height: 7.5rem;
}
.card3{
    background-color: rgb(36, 112, 59);
    margin-right: 0.8rem;
    height: 7.5rem;
}
h2{
    font-size: 2rem;
}