.sidebarWrapper {
    padding: 0.8rem;
  }
  .sidebarListItem {
    height: 2.5rem;
    cursor: pointer;
    display: flex;
  }
  .sidebarIcon {
    margin-left: -1.8rem;
    margin-right: 2rem;
    font-size: 25px !important;
  }
  .link{
    text-decoration: none;
  }