.announcement{
    display: flex;
    margin-left: 1.2rem;
}
.card1{
    background-color: #fff;
    margin-right: 0.8rem;
    height: 7.5rem;
}

.card2{
    background-color: #fff;
    margin-right: 0.8rem;
    height: 7.5rem;
}
.card3{
    background-color: #fff;
    margin-right: 0.8rem;
    height: 7.5rem;
}
h2{
    font-size: 2rem;
}
.card1heading{
    background-color: rgb(29, 119, 44);
    font-style: bold;
    color: #fff;
}
.card2heading{
    background-color: rgb(219, 26, 74);
    font-style: bold;
    color: #fff;
}
.card3heading{
    background-color: rgb(32, 51, 158);
    font-style: bold;
    color: #fff;
}